<form action="/agent/<%=agent_id%>/add" method="POST">
    <input name="prop_id" placeholder="give the property id" type="number"><br><br>
    <input name="type" placeholder="sale or rent" type="text"><br><br>
    <input name="buyer_id" placeholder="give the buyer id " type="number"><br><br>
    <input name="buyer_name" placeholder="give the buyer name" type="text"><br><br>
    <input name="duration" placeholder="duration in months(if rent)" type="number"><br><br>
    date on which sold or rented :
    <input name="buying_date" placeholder="date on which sold or rented" type="date" >

    <button  type="submit">add new property</button>
</form>