<html>
<head>

</head>
<body>

<form action="/login" method="POST">
<input name="username" placeholder="agent_name" type="text">
<input name="password" placeholder="password" type="password">
<button  type="submit">Sign in</button>
</form>
    
</body>


</html>